<div id="myLOGIN" class="LogIn">


    <div class="login-content">
        <div class="login-header">
            <span class="close_login">×</span>
            <h2>LOGI SISSE</h2>
        </div>
        <div class="login-body">
            <form action="?page=login" method="POST" >
                <input type="text" name="user" placeholder="kasutajanimi"/><br/>
                <input type="password" name="pass" placeholder="parool"/><br/>
                <input type="submit" value="logi sisse!"/>
            </form>
        </div>
        <div class="login-footer">
            <h3></h3>
        </div>
    </div>



