<div id="myLOGIN" class="LogIn">
    <form action="?page=login" method="POST" >
        <div class="login-content">
            <div class="login-header">
                <span class="close_login">×</span>
                <h3>LOGI SISSE</h3>
            </div>
            <div class="login-body">
               <input type="text" name="user" placeholder="kasutajanimi" />
                <br/>
                <br/>
                <input type="password" name="pass" placeholder="parool"/>
                <br>
            </div>
            <div class="login-footer">
                <input type="submit" value="logi sisse!" class="logi_nupp"/>    
            </div>
        </div>
    </form>
<!--</div>-->



