<div id="myLOGIN" class="LogIn">

<form action="?page=login" method="POST" >
    <div class="login-content">
        <div class="login-header">
            LOGI SISSE <span class="close_login">×</span>
            
        </div>
        <div class="login-body">


                <input type="text" name="user" placeholder="kasutajanimi" size="20"/>
            <br/>
            <br/>
                <input type="password" name="pass" placeholder="parool" size="20"/>
                <br>
        </div>

        <div class="login-footer">
            <br>
            <input type="submit" value="logi sisse!" class="logi_nupp"/>
            <h3></h3>
        </div>
        </form>
    </div>



